{% load static %}
{% load pwa %}
{% progressive_web_app_meta %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}{% endblock %} - RU ICT</title>

  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link rel="stylesheet" href="{% static 'assets/bootstrap-icons-1.13.1/bootstrap-icons.css' %}">

  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}{% endblock %}
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>